# Dependencies
node_modules/

# Next.js
.next/
out/

# Env
.env*.local

# Debug
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# SQLite database
*.db
*.db-journal
*.db-wal
